# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.pro

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Jest / testing
coverage/
.jest/

# Build (por si compilas algo con Babel o TypeScript en el futuro)
dist/
build/
env.php