#header #header-icon {
  height: 100px;
}

.icons li span svg,
.icons li span img {
  height: 44px;
  margin: 8px;
  filter: grayscale(1);
}

.grayscale {
  filter: grayscale(1);
}

.my-carreer-icon {
  max-width: 220px !important ;
}
